.f-d-compact {
  --d-sidebar-row-height: var(--sidebar-row-height-compact);
}

.f-d-compact .sidebar-wrapper .sidebar-sections {
  padding: calc(1.5rem * 0.5) 1rem 1rem;
}

.f-d-compact
  .sidebar-section-link-wrapper
  .sidebar-section-link
  .sidebar-section-link-content-text {
  font-size: var(--font-down-1);
}
