.f-d-compact {
  --channel-list-avatar-size: 20px;

  .chat-message-container .chat-message {
    padding: 0.2rem 1rem 0.15rem;
  }

  aside.onebox {
    margin: 0.25em 0;
    padding: 0.3em;
  }

  .onebox,
  .chat-message-thread-indicator,
  .chat-channel-row .chat-channel-icon.--users-count,
  .c-user-thread .chat__thread-title__name {
    font-size: var(--font-down-1);
  }

  .onebox.githubpullrequest .onebox-body,
  .onebox.githubcommit .onebox-body,
  .onebox.githubissue .onebox-body {
    gap: 0.125em 0.35em;
  }

  .chat-message .onebox:not(img) header,
  .chat-drawer-container .chat-message .onebox header {
    margin-bottom: 0.25em;
  }

  .onebox.githubpullrequest .github-body-container,
  .onebox.githubcommit .github-body-container,
  .onebox.githubissue .github-body-container {
    margin: 0.5em 0 0 0;
  }

  .chat-message-separator-date .chat-message-separator__text-container {
    height: 20px;
  }
  .chat-message-separator-date + .chat-message-separator__line-container {
    padding: 10px var(--scrollbarWidth) 10px var(--scrollbarWidth);
  }
  .chat-drawer-container .channels-list-container .chat-channel-row {
    height: 2rem;
    font-size: var(--font-down-1);
  }
  .chat-channel-divider {
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
  .chat-channel-row .chat-channel-icon.--users-count,
  .c-user-thread .chat__thread-title__name {
    font-size: var(--font-0);
  }

  .c-user-thread .chat-message-thread-indicator {
    margin-top: 0.5rem;
  }

  @supports (--custom: property) {
    aside.onebox .onebox-body .aspect-image {
      width: calc(75px * var(--magic-ratio));
    }
  }
}
